<app-page-header
  title="Invoices"
  subtitle="Manage and track all invoices"
  actionLabel="New invoice"
  actionRoute="/invoices/create" />

<div class="filter-bar">
  <mat-form-field appearance="outline" class="status-filter">
    <mat-label>Status</mat-label>
    <mat-select
      [(ngModel)]="selectedStatus"
      (ngModelChange)="applyStatusFilter()">
      <mat-option
        *ngFor="let opt of statusOptions"
        [value]="opt.value">
        {{ opt.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="loading()" class="loading-center">
  <mat-spinner diameter="40" />
</div>

<ng-container *ngIf="!loading() && result() as data">

  <app-empty-state
    *ngIf="data.items.length === 0"
    title="No invoices found"
    subtitle="Create your first invoice to get started"
    icon="receipt_long" />

  <div *ngIf="data.items.length > 0" class="table-container">
    <mat-table [dataSource]="data.items">

      <ng-container matColumnDef="invoiceNumber">
        <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span class="invoice-number">{{ row.invoiceNumber }}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <mat-header-cell *matHeaderCellDef>Customer</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.customerName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="issueDate">
        <mat-header-cell *matHeaderCellDef>Issued</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.issueDate | date:'dd MMM y' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <mat-header-cell *matHeaderCellDef>Due</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.dueDate | date:'dd MMM y' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.total | currency:row.currency:'symbol':'1.2-2' }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-status-badge [status]="row.statusName" />
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              *ngIf="row.statusName === 'Draft'"
              (click)="sendInvoice(row)">
              <mat-icon>send</mat-icon>
              <span>Send to customer</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" />
      <mat-row *matRowDef="let row; columns: displayedColumns;" />
    </mat-table>

    <mat-paginator
      [length]="data.totalCount"
      [pageSize]="filters.pageSize ?? 20"
      [pageSizeOptions]="[10, 20, 50]"
      (page)="onPage($event)" />
  </div>
</ng-container>